@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@media print {
  body {
    margin: 0 !important;
  }
}

.custom-editor {
  font-family: 'Lato';
}

.custom-editor .main-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.custom-editor .ck-content,
.custom-editor .ck-content p,
.custom-editor .ck-content h1,
.custom-editor .ck-content h2,
.custom-editor .ck-content h3,
.custom-editor .ck-content h4,
.custom-editor .ck-content h5,
.custom-editor .ck-content h6,
.custom-editor .ck-content span,
.custom-editor .ck-content div {
  color: #000000;
  font-family: sans-serif;
  line-height: 1.6;
  word-break: break-word;
}

.custom-editor .editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
  position: relative;
}

.custom-editor .ck-content h3.editor-category {
  font-family: 'Oswald' !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: #555 !important;
  letter-spacing: 10px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.custom-editor .ck-content h3.editor-subtitle {
  font-family: 'Oswald';
  font-size: 20px;
  color: #000000;
  margin: 0 0 1em;
  font-weight: bold;
  padding: 0;
}

.custom-editor .ck-content p.editor-info-box {
  --background-size: 30px;
  --background-color: #e91e63;
  padding: 1.2em 2em;
  border: 1px solid var(--background-color);
  background: linear-gradient(
      135deg,
      var(--background-color) 0%,
      var(--background-color) var(--background-size),
      transparent var(--background-size)
    ),
    linear-gradient(
      135deg,
      transparent calc(100% - var(--background-size)),
      var(--background-color) calc(100% - var(--background-size)),
      var(--background-color)
    );
  border-radius: 10px;
  margin: 1.5em 2em;
  box-shadow: 5px 5px 0 #ffe6ef;
}

.custom-editor .ck-content blockquote.editor-side-quote {
  font-family: 'Oswald';
  font-style: normal;
  float: right;
  width: 35%;
  position: relative;
  border: 0;
  overflow: visible;
  z-index: 1;
  margin-left: 1em;
}

.custom-editor .ck-content blockquote.editor-side-quote::before {
  content: '"';
  position: absolute;
  top: -37px;
  left: -10px;
  display: block;
  font-size: 200px;
  color: #e7e7e7;
  z-index: -1;
  line-height: 1;
}

.custom-editor .ck-content blockquote.editor-side-quote p {
  font-size: 2em;
  line-height: 1;
}

.custom-editor .ck-content blockquote.editor-side-quote p:last-child:not(:first-child) {
  font-size: 1.3em;
  text-align: right;
  color: #555;
}

.custom-editor .ck-content span.editor-marker {
  background: yellow;
}

.custom-editor .ck-content span.editor-spoiler {
  background: #000;
  color: #000;
}

.custom-editor .ck-content span.editor-spoiler:hover {
  background: #000;
  color: #fff;
}

.custom-editor .ck-content pre.editor-code {
  border: 0;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 10px;
}

.custom-editor .ck-content pre.editor-code::before {
  content: '';
  display: block;
  height: 13px;
  background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
  margin-bottom: 8px;
  background-repeat: no-repeat;
}

.custom-editor .ck-content pre.editor-code--dark {
  background: #272822;
  color: #fff;
  box-shadow: 5px 5px 0 #0000001f;
}

.custom-editor .ck-content pre.editor-code--light {
  background: #dddfe0;
  color: #000;
  box-shadow: 5px 5px 0 #b3b3b3;
}

.custom-editor .ck-content .text-tiny {
  font-size: 10px;
}

.custom-editor .ck-content .text-small {
  font-size: 12px;
}

.custom-editor .ck-content .text-default {
  font-size: 16px;
}

.custom-editor .ck-content .text-big {
  font-size: 20px;
}

.custom-editor .ck-content .text-huge {
  font-size: 24px;
}

.custom-editor .ck.ck-editor__main > .ck-editor__editable {
  background: #fff !important;
  border: 1px solid #c4c4c4 !important;
  padding: 20px !important;
  color: #333333 !important;
  min-height: 400px !important;
}

.custom-editor .ck.ck-editor__main > .ck-editor__editable:focus {
  border-color: #2271b1 !important;
}

.custom-editor .ck.ck-toolbar {
  background: #f8f9fa !important;
  border: 1px solid #c4c4c4 !important;
}

.custom-editor .ck.ck-button:not(.ck-color-grid__tile):not(.ck-color-table__tile) {
  background: transparent !important;
}

.custom-editor .ck.ck-button:not(.ck-color-grid__tile):not(.ck-color-table__tile):hover {
  background: #e9ecef !important;
}

.custom-editor .ck.ck-toolbar * {
  color: #333333 !important;
}

.custom-editor .ck.ck-toolbar .ck-button:focus {
  box-shadow: none !important;
  border-color: #2271b1 !important;
}


.custom-editor .ck-content p.editor-blue-background {
  background-color: #e8f4ff;
  padding: 15px;
  border-radius: 4px;
  margin: 1em 0;
}

.custom-editor .ck-content p.editor-green-background {
  background-color: #e8fff0;
  padding: 15px;
  border-radius: 4px;
  margin: 1em 0;
}


/* Repeat for blue and green backgrounds */
/* Blue backgrounds */
.custom-editor .ck-content h1.editor-blue-background,
.custom-editor .ck-content h2.editor-blue-background,
.custom-editor .ck-content h3.editor-blue-background,
.custom-editor .ck-content h4.editor-blue-background,
.custom-editor .ck-content h5.editor-blue-background,
.custom-editor .ck-content h6.editor-blue-background,
.custom-editor .ck-content ul.editor-blue-background,
.custom-editor .ck-content ol.editor-blue-background,
.custom-editor .ck-content blockquote.editor-blue-background {
  background-color: #1a2636;
  padding: 15px;
  border-radius: 4px;
  margin: 1em 0;
  color: white;
}

/* Green backgrounds */
.custom-editor .ck-content h1.editor-green-background,
.custom-editor .ck-content h2.editor-green-background,
.custom-editor .ck-content h3.editor-green-background,
.custom-editor .ck-content h4.editor-green-background,
.custom-editor .ck-content h5.editor-green-background,
.custom-editor .ck-content h6.editor-green-background,
.custom-editor .ck-content ul.editor-green-background,
.custom-editor .ck-content ol.editor-green-background,
.custom-editor .ck-content blockquote.editor-green-background {
  background-color: #1a362a;
  padding: 15px;
  border-radius: 4px;
  margin: 1em 0;
  color: white;
}

/* Font styles */
.custom-editor .ck-content p.editor-font-nunito {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.6;
}

.custom-editor .ck-content p.editor-font-inter {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.custom-editor .ck-content p.editor-font-source {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
}

/* Default font for the editor content */
.custom-editor .ck-content {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.6;
}



/* Image styles */
.custom-editor .ck-content .image {
  margin: 1em 0;
  max-width: 100%;
  display: table;
}

.custom-editor .ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}

.custom-editor .ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

.custom-editor .ck-content .image.image_resized img {
  width: 100%;
}

.custom-editor .ck-content .image.image_resized > figcaption {
  display: block;
}

.custom-editor .ck-content .image-style-side {
  float: right;
  margin-left: 1.5em;
  max-width: 50%;
}

.custom-editor .ck-content .image-style-align-left {
  float: left;
  margin-right: 1.5em;
}

.custom-editor .ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

.custom-editor .ck-content .image-style-align-right {
  float: right;
  margin-left: 1.5em;
}

/* Image caption */
.custom-editor .ck-content .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: #333;
  background-color: #f7f7f7;
  padding: 0.6em;
  font-size: 0.75em;
  outline-offset: -1px;
}

.editor-shortcuts {
  margin: 1em 0;
  padding: 1em;
  background: #1a1b26;
  border-radius: 4px;
  color: white;
}

.editor-shortcuts h3 {
  margin: 0 0 0.5em;
  font-size: 1em;
  color: #7aa2f7;
}

.editor-shortcuts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.editor-shortcuts li {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.editor-shortcuts kbd {
  background: #2a2b36;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  border: 1px solid #3d3d3d;
  font-family: monospace;
  font-size: 0.9em;
  color: #9ece6a;
}

/* Add these new styles */
.editor-help-tooltip {
  position: absolute;
  right: 10px;
  top: -30px;
  z-index: 1000;
}

.help-icon {
  color: #7aa2f7;
  font-size: 20px;
  cursor: help;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.help-icon:hover {
  opacity: 1;
}

.tooltip-content {
  display: none;
  position: absolute;
  right: 0;
  top: 25px;
  background: #1a1b26;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 280px;
  color: white;
}

.editor-help-tooltip:hover .tooltip-content {
  display: block;
}

.tooltip-content h4 {
  margin: 0 0 8px 0;
  color: #7aa2f7;
  font-size: 14px;
}

.tooltip-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tooltip-content li {
  margin: 6px 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tooltip-content kbd {
  background: #2a2b36;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #3d3d3d;
  font-family: monospace;
  font-size: 12px;
  color: #9ece6a;
}
