body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0f1c;
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 10px;
  }
}
