.user-profile-settings-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #94bbd4;
}

.user-profile-settings-content {
  flex: 1;
  padding: 50px;
  background: rgb(231, 231, 231);
  border-left: 2px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: calc(100% - 290px);
}

.user-profile-settings-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-profile-avatar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile-avatar-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3498db;
}

.user-profile-btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.user-profile-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
}

.user-profile-btn:hover {
  color: #e8e8e8;
}

.user-profile-btn:hover::before {
  width: 100%;
}

.user-profile-update-btn, .user-profile-remove-btn {
  padding: 10px 20px;
  font-size: 14px;
}

.user-profile-update-btn {
  background-color: #3b82f6;
  color: white;
}

.user-profile-remove-btn {
  background-color: #ef4444;
  color: white;
}

.user-profile-remove-btn:hover::before {
  background-color: #dc2626;
}

.user-profile-form {
  margin-top: 20px;
}

.user-profile-label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #374151;
}

.user-profile-input,
.user-profile-textarea,
.user-profile-select {
  background-color: #eee !important;
  border: none !important;
  padding: 1rem !important;
  font-size: 1rem !important;
  width: 50% !important;
  border-radius: 1rem !important;
  color: #3498db !important;
  box-shadow: 0 0.4rem #dfd9d9 !important;
  transition: border-color 0.3s ease !important;
  margin-bottom: 30px !important;
}

.user-profile-textarea {
  resize: vertical;
  min-height: 100px;
}

.user-profile-form-buttons {
  display: flex;
  gap: 10px;
}

.user-profile-save-btn {
  background-color: #10b981;
  color: white;
}

.user-profile-save-btn:hover::before {
  background-color: #059669;
}

.user-profile-cancel-btn {
  background-color: #000;
  color: white;
}

.user-profile-cancel-btn:hover::before {
  background-color: #5a5a5a;
}