.change-password-page {
    display: flex;
    height: 100vh;
    background-color: #0f184a;
    color: #fff;
  }
  
  .sidebar {
    width: 200px;
    background-color: #16256b;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li.active {
    background-color: #2b4ac8;
    border-radius: 10px;
  }
  
  .change-password-content {
    flex: 1;
    padding: 50px;
    background: linear-gradient(180deg, #1E3C90, #09112A);
    border-left: 2px solid #1f2d5b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 20px;
  }
  
  .password-form {
    margin-top: 20px;
  }
  
  .password-form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .password-form input {
    width: 25%; /* Adjust this as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2b4ac8;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
  }
  
  .form-buttons {
    display: flex;
    gap: 50px;
  }
  
  .save-btn {
    background-color: #0069FF;
    border: none;
    color: #fff;
    padding: 10px 20px;
   
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #B71212;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  