.course-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #333;
  padding: 16px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 490px;
  justify-content: center;
  height: 400px !important;


  transition: transform 0.3s ease, box-shadow 0.8s ease; 
  margin: 20px; /* Reduced margin */

}
.course-head{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:82px;

}
.course-info{
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  margin-top:20px ;
  gap: 30px;
  justify-content: center;
  
}
.enroll-btn{
  display: flex;
  justify-content: right;
  align-items: center; /* Align items vertically */
}

.progress-container {
  display: flex;
  align-items: center;
  margin-right: auto; /* Push the container to the leftmost side */
}

.course-icon {
  height: 50px; /* Reduced from 50px */
  width: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
  object-fit: contain; /* Ensures image isn't distorted */
  display: flex;
  align-self: flex-start; /* Maintains left alignment */
  margin-right: 10px;
}

.course-rating, .course-level, .course-students {
  font-size: 0.9rem;
  color: #666;
}
.course-students{
  display: flex;
  align-self: flex-start;
  padding: 20px 10px;
}


.enroll-button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
  margin-right: 30px;
}


.course-card:hover {
  box-shadow: 10px 10px rgba(255, 255, 255, 0.3) ; /* Increased shadow on hover */
transform: scale(1.05); /* Slightly enlarge the card */

}

.progress-circle {
  position: relative;
  width: 35px; /* Adjust size as needed */
  height: 35px; /* Adjust size as needed */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Space between circle and text */
}

.circle-mid {
  position: relative;
  width: 25px; /* Adjust size as needed */
  height: 25px; /* Adjust size as needed */
  border-radius: 50%;
  background: #ffffff; /* White background */
  display: flex;
  justify-content: center;
  align-items: center;
}



.progress-text {
  color: #000000;
  font-size: 14px; /* Adjust size as needed */
}


