@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.custom-editor {
	font-family: 'Lato';
}

.custom-editor .main-container {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.custom-editor .ck-content,
.custom-editor .ck-content p,
.custom-editor .ck-content h1,
.custom-editor .ck-content h2,
.custom-editor .ck-content h3,
.custom-editor .ck-content h4,
.custom-editor .ck-content h5,
.custom-editor .ck-content h6,
.custom-editor .ck-content span,
.custom-editor .ck-content div {
	color: #000000;
	font-family:sans-serif;
	line-height: 1.6;
	word-break: break-word;
}

.custom-editor .editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.custom-editor .ck-content h3.editor-category {
	font-family: 'Oswald' !important;
	font-size: 20px !important;
	font-weight: bold !important;
	color: #555 !important;
	letter-spacing: 10px !important;
	margin: 0 !important;
	padding: 0 !important;
}

.custom-editor .ck-content h2.editor-title {
	font-family: 'Oswald';
	font-size: 50px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
}

.custom-editor .ck-content h3.editor-subtitle {
	font-family: 'Oswald';
	font-size: 20px;
	color: #000000;
	margin: 0 0 1em;
	font-weight: bold;
	padding: 0;
}

.custom-editor .ck-content p.editor-info-box {
	--background-size: 30px;
	--background-color: #e91e63;
	padding: 1.2em 2em;
	border: 1px solid var(--background-color);
	background: linear-gradient(
			135deg,
			var(--background-color) 0%,
			var(--background-color) var(--background-size),
			transparent var(--background-size)
		),
		linear-gradient(
			135deg,
			transparent calc(100% - var(--background-size)),
			var(--background-color) calc(100% - var(--background-size)),
			var(--background-color)
		);
	border-radius: 10px;
	margin: 1.5em 2em;
	box-shadow: 5px 5px 0 #ffe6ef;
}

.custom-editor .ck-content blockquote.editor-side-quote {
	font-family: 'Oswald';
	font-style: normal;
	float: right;
	width: 35%;
	position: relative;
	border: 0;
	overflow: visible;
	z-index: 1;
	margin-left: 1em;
}

.custom-editor .ck-content blockquote.editor-side-quote::before {
	content: '"';
	position: absolute;
	top: -37px;
	left: -10px;
	display: block;
	font-size: 200px;
	color: #e7e7e7;
	z-index: -1;
	line-height: 1;
}

.custom-editor .ck-content blockquote.editor-side-quote p {
	font-size: 2em;
	line-height: 1;
}

.custom-editor .ck-content blockquote.editor-side-quote p:last-child:not(:first-child) {
	font-size: 1.3em;
	text-align: right;
	color: #555;
}

.custom-editor .ck-content span.editor-marker {
	background: yellow;
}

.custom-editor .ck-content span.editor-spoiler {
	background: #000;
	color: #000;
}

.custom-editor .ck-content span.editor-spoiler:hover {
	background: #000;
	color: #fff;
}

.custom-editor .ck-content pre.editor-code {
	border: 0;
	margin-left: 2em;
	margin-right: 2em;
	border-radius: 10px;
}

.custom-editor .ck-content pre.editor-code::before {
	content: '';
	display: block;
	height: 13px;
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
	margin-bottom: 8px;
	background-repeat: no-repeat;
}

.custom-editor .ck-content pre.editor-code--dark {
	background: #272822;
	color: #fff;
	box-shadow: 5px 5px 0 #0000001f;
}

.custom-editor .ck-content pre.editor-code--light {
	background: #dddfe0;
	color: #000;
	box-shadow: 5px 5px 0 #b3b3b3;
}

.custom-editor .ck-content .text-tiny {
	font-size: 10px;
}

.custom-editor .ck-content .text-small {
	font-size: 12px;
}

.custom-editor .ck-content .text-default {
	font-size: 16px;
}

.custom-editor .ck-content .text-big {
	font-size: 20px;
}

.custom-editor .ck-content .text-huge {
	font-size: 24px;
}

.custom-editor .ck.ck-editor__main > .ck-editor__editable {
	background: #fff !important;
	border: 1px solid #c4c4c4 !important;
	padding: 20px !important;
	color: #333333 !important;
}

.custom-editor .ck.ck-editor__main > .ck-editor__editable:focus {
	border-color: #2271b1 !important;
}

.custom-editor .ck.ck-toolbar {
	background: #f8f9fa !important;
	border: 1px solid #c4c4c4 !important;
}

.custom-editor .ck.ck-button {
	background: transparent !important;
}

.custom-editor .ck.ck-button:hover {
	background: #e9ecef !important;
}

.custom-editor .ck.ck-toolbar * {
	color: #333333 !important;
}

.custom-editor .ck.ck-toolbar .ck-button:focus {
	box-shadow: none !important;
	border-color: #2271b1 !important;
}
