


.floating-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

.error-card {
  width: 330px;
  height: 80px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.error-wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #fc0c0c3a;
}

.error-icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc0c0c48;
  border-radius: 50%;
  margin-left: 8px;
}

.error-icon {
  width: 17px;
  height: 17px;
  color: #d10d0d;
}

.error-message-text {
  color: #d10d0d;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  cursor: default;
}

.error-sub-text {
  font-size: 14px;
  color: #555;
  margin: 0;
  cursor: default;
}

.error-message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.error-cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}

.error-floating-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  animation: error-slide-down 0.3s ease-out;
}

@keyframes error-slide-down {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}
