/* LessonList.css */
.lesson-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .arrow {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .lesson-list {
    background: #131414;
    color: white;
    width: 1240px;
    margin-bottom: 20px;
  }
  
  .lesson-list ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .lesson {
    background: #0A0A0B;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  

  .subscription-notice {
    background-color: #84c610;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #0278ee;
  }
  
  .upgrade-message {
    color: #dc3545;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .lesson span.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .subscription-notice p {
    margin: 0;
  }