.lesson-content {
  color: white;
  padding: 1rem;
  font-size: 16px;
  line-height: 1.6;
}

.code-block {
  position: relative;
  background-color: #161925;

  border-radius: 1px;
  
}

.unique-copy-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.unique-copy-btn:hover {
  opacity: 1;
}

.unique-icon {
  font-size: 1rem;
}