.lesson-navigation {
    display: flex;
    justify-content: space-between; /* Ensures spacing between left and center groups */
    align-items: center;
    padding: 10px 20px;
    background-color: #161925;
    border-top: 1px solid #282c34;
}

.lesson-nav-back-button {
    margin: 0; /* Remove unwanted margins */
    background-color: #f0f0f0;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.lesson-nav-back-button:hover {
    background-color: #e0e0e0;
}

.lesson-nav-btns {
    display: flex;
    justify-content: center; /* Keeps buttons centered */
    flex: 1; /* Takes available space */
    gap: 10px;
    margin-left: 0;
}
.nav-button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #377EF0;
    transition: background-color 0.3s ease;
}

.nav-button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.nav-button:hover:not(:disabled) {
    background-color: #145dbf;
}
