
.lesson-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #161925;
    border-top: 1px solid #282c34;
    flex-direction: row; /* Ensure buttons are in a row */
}

.nav-button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #377EF0;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Add space between buttons */
}

.nav-button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.nav-button:hover:not(:disabled) {
    background-color: #145dbf;
}

.complete-button {
    background-color: #377EF0;
}

.complete-button:hover {
    background-color: #145dbf;
}