@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, libre-franklin, 'LibreFranklin-ExtraBold', 'LibreFranklin-Black', 'LibreFranklin-Medium', 'Chivo Thin Italic', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
}

/* Responsive styles */
@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 10px;
  }
}

/* Loading spinner center */
.centered-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
