body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,libre-franklin,'LibreFranklin-ExtraBold','LibreFranklin-Black','LibreFranklin-Medium','Chivo Thin Italic' , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Explore our wide range of courses and take your skills to the next level. */



